<div class='container px-5 px-sm-0'>
  <div class='row d-flex flex-column'>
    <h2>Follower Users</h2>
    <% if @users.exists? %>
      <h1>Users</h1>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image(100,100) %></td>
                <td><%=user.name %></td>
                <td><%= link_to 'Show', user_path(user.id) %></td>
                <td>フォロー<%= user.followers.count %></td>
                <td>フォロワー<%= user.followeds.count %></td>
                <td><%= render 'relationships/btn', user: user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>