<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'books/list', user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Favorite</th>
            <th></th>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(book.user.id) do %>
                  <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
            <td>
              <% if book.favorited_by?(current_user) %>  
                <%= link_to book_favorites_path(book.id), method: :delete do %>
                  <i class="fas fa-heart"></i>
                  <%= book.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(book.id), method: :post do %>
                  <i class="fas fa-heart"></i>
                  <%= book.favorites.count %>
                <% end %>
              <% end %>
            </td>
            <td> <%= link_to "#{book.book_comments.count}", book_path(book.id) %></td>
          </tr>
          <% end %>
        </table>
        
        <canvas id="bookChart"></canvas>    # グラフを表示させたい場所に追加 

          <script>
            const ctx = document.getElementById('bookChart');
            
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                datasets: [{
                  label: '投稿した本の数',
                  data: <%= @this_week_book_counts %>,
                  borderColor: 'blue',
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: '７日間の本の投稿数'
                  }
                },
                y: {
                  min: 0,
                  max: 10,
                },
              },
            });
          </script>
        
      </div>
    </div>
  </div>
</main>