
      <div class="col-md-3">
        <h2>User info</h2>
        <p><%= image_tag user.get_profile_image(100,100) %></p>
        <table class="table">
          <tbody>
            <tr><th>name</th><td><%= user.name %></td></tr>
            <tr><th>introduction</th><td><%= user.introduction %></td></tr>

            <tr><th>follows</th>
              <td><%= link_to follows_user_path(@user.id) do %>
                    <%= user.followers.count %>
                  <% end %>
              </td></tr>

            <tr><th>followers</th>
              <td><%= link_to followers_user_path(@user.id) do %>
                    <%= user.followeds.count %>
                  <% end %>
              </td></tr>

          </tbody>
        </table>
        <%= render 'relationships/btn', user: @user %>
        <% if user.id == current_user.id %>
            <p><%= link_to  edit_user_path(user), class: "btn btn-warning btn-sm btn-block" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
            </p>
        <% else %>
            <p><%= link_to edit_user_path(user.id), class: "btn btn-warning btn-sm btn-block" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
            </p>
        <% end %>
        <h2 class="mt-3">New book</h2>
        <%= form_with model: Book.new do |f| %>
          <h4>Title</h4>
          <div style="width: 260.2px;"><%= f.text_field :title, class: "form-control" %></div>
          <h4>Opinion</h4>
          <div style="width: 260.2px;"><%= f.text_area :body, class: "form-control" %></div>
          <%= f.submit 'Create Book', class: "btn btn-warning btn-sm btn-block mt-3" %>
        <% end %>
      </div>