<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'list', user: @user, book: @book %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tr>
            <th>User name</th>
            <th>User image</th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
            <th>Favorite</th>
            <th>Comment</th>
          </tr>

          <tr>
            <td><%= link_to user_path(@book.user.id) do %>
                  <%= @book.user.name %>
                <% end %>
            </td>

            <td><%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %>
            </td>

            <td><%= link_to book_path(@book.id) do %>
                  <%= @book.title %></td>
                <% end %>

            <td><%= @book.body %></td>

            <td><% if @book.user == current_user %>
                  <%= link_to "Edit", edit_book_path(@book.id) %>
                <% end %>
            </td>

            <td><% if @book.user == current_user %>
                  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
                <% end %>
            </td>

            <td id="favorite_buttons_<%= @book.id %>">
              <%= render 'favorites/btn', book: @book %>
            </td>

            <td class="book_comment_count">
              <%= render 'book_comments/count', book: @book %>
            </td>
          </tr>
        </table>
        <div>
          コメント数:<span class="book_comment_count"><%= @book.book_comments.count %></span>
          <div class="book_comment_table">
            <%= render 'book_comments/comment', book: @book %>
          </div>
        </div>

        <div id="book_comment_form">
          <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
        </div>
      </div>
    </div>
  </div>
</main>